{{define "about"}}
<!DOCTYPE HTML>
<html>
    {{template "head" .}}
    <body>
        {{template "top" .}}

        <div id="whiteStrip" class="alignRelaxed">
            <br><br>
            <h2>
                Ephemeral lets you send messages that are destroyed when read.
                After you create the message, we give you a URL that allows the recipient to read the message.
                Upon being read, the note is destroyed.

                <br><br>

                Messages are encrypted with a 128 bit
                <a href="http://en.wikipedia.org/wiki/Advanced_Encryption_Standard">symmetric AES cipher</a>.
                The key is in the URL, and we throw away they key so it is never stored in our database.
                If the server was stolen, there would be no way to decrypt the messages in the database.
                The max message length is 16000 characters.

                <br><br>

                Written in Go: <a href="https://github.com/bergeron/Ephemeral">https://github.com/bergeron/Ephemeral</a>
               <br><br>
           </h2>

        </div>
    </body>
</html>
{{end}}