{{define "chatCreate"}}
<!DOCTYPE HTML>
<html>
    <head>
        {{template "head" .}}
        <script src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/aes.js"></script>
        <script language="javascript" type="text/javascript" src="/static/chatCreate.js"></script>
    </head>
    <body>

        {{template "top" .}}

        <div id="whiteStrip" class="alignRelaxed">
            <h1>1. Choose a password</h1><br>
            <h1>2. Invite participants</h1><br>
            <h1>3. Chat with temporary, encrypted messages</h1><br>
        </div>

        <br>
        <div id="encryptBox" class="center">
            <!-- <form onsubmit="return generate(passwordSource.value);" style="overflow: hidden;">
                <input type="radio" name="passwordSource" value="rand" onclick="customPassword.value='';customPassword.disabled=true" checked> 
                    Random 128 bit password<br>
                <input type="radio" name="passwordSource" value="custom" onclick="customPassword.disabled=false"> 
                    Custom password: <input id="customPassword" type="text" disabled> <br>
                <br>
                <button id="createBtn" class="submitBtn" style="float: right;">Create</button>
            </form>

            <br><hr><br>
            
            <div id="result" class="center">
                <div id="finishedMessage" class="well700">
                </div>
            </div> -->

            Coming soon

        </div>

    </body>
</html>
{{end}}
