{{define "chatView"}}
<!DOCTYPE HTML>
<html>
    <head>
        {{template "head" .}}
        <script src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/aes.js"></script>
        <script language="javascript" type="text/javascript" src="/static/chatView.js"></script>
    </head>
    <body>

        {{template "top" .}}

        <div id="whiteStrip" class="alignRelaxed">
            <h1>1. Choose a password</h1><br>
            <h1>2. Invite participants</h1><br>
            <h1>3. Chat with temporary, encrypted messages</h1><br>
        </div>

        <br>

        Chat

    </body>
</html>
{{end}}
