{{define "create"}}
<!DOCTYPE HTML>
<html>
    <head>
        {{template "head" .}}
		
		<script>
            $(document).ready(function(){
				$('.link').on('click', function () {
					$(this).select();
				});
			});
		</script>
    </head>
    <body>
{tempeate "top" .}}

        <div id="whiteStrip" class="align">
            <h1>Give this URL to the recipient:</h1>
            <br><br>
            <textarea class="well link" rows="4" cols="100">https://{{.Host}}/view/server/{{.SecretString}}/{{.KeyString}}</textarea>

            <br>

        </div>
    </body>
</html>
{{end}}
