{{define "home"}}
<!DOCTYPE HTML>
<html>
    {{template "head" .}}
    <body>

        {{template "top" .}}

        <div id="whiteStrip" class="alignRelaxed">
            <h1>1. Create a message</h1><br>
            <h1>2. Send the URL to the recipient</h1><br>
            <h1>3. Message is destroyed when read</h1><br>
        </div>

        <br>
        <form action="/create/" method="post">
            <TEXTAREA style="font-size: 20px;" class="center" NAME="text" ROWS="9" COLS="50"></TEXTAREA>
            <br>
            <input class="center submitBtn" type="submit" value="Create">
        </form>


    </body>
</html>
{{end}}