{{define "home"}}
<!DOCTYPE HTML>
<html>
    <head>
        <title>Ephemeral</title>
        <link rel="stylesheet" type="text/css" href="/static/style.css">
    </head>
    <body>

        {{template "top" .}}

        <div id="whiteStrip">
            <div id="leftBox">1. Create a message</div>
            <div id="middleBox">2. Send the URL to the recipient</div>
            <div id="rightBox">3. Messagesdafffs daf sadkjkfsdojs flsdh flshduf isd hlufas hldiu is destroyed when </div>

        </div>

        <br>
        <form action="/create/" method="post">
            <TEXTAREA class="center" NAME="text" ROWS="8" COLS="80"></TEXTAREA>
            <input class="center" type="submit" value="Go">
        </form>


    </body>
</html>
{{end}}