html{
    margin:0;
    padding:0;
    background-color: #efefef;
    font-family:FreeSans,Arimo,"Droid Sans",Helvetica,Arial,sans-serif;
}

body{
     margin:0;
     padding:0;
}

textarea {
    overflow: auto;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a:hover{
    color: #36D7B7;
}

#title a{
    color: black;
    text-decoration: none;
}

#title{
    padding: 10px;
    font-size: 60px;
}

#title a:hover{
    color: #36D7B7;
}

#whiteStrip{
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: white;
}

#whiteStrip h1{
    font-size: 25px;
    font-weight: normal;
    margin:0;
    padding:0;
}

#msgText{
    font-size: 20px;
    height: 222px;  /* So Chrome mobile wont resize the box when typing */
}

.well {
    font-size: 15px;
    font-family: monospace;
    word-wrap: break-word;
    color: white;
    min-height: 20px;
    padding: 19px;
    background-color: black;
    border: 4px solid #36D7B7;
    -moz-border-radius: 15px;
    border-radius: 15px; */
}

.submitBtn {
    color: white;
    background: black;
    font-size: 20px;
    padding: 15px 30px;
    margin-bottom: 2px;
    outline: none;
    border: 5px solid #36D7B7;
    cursor: pointer;
}

.submitBtn:hover {
    color: black;
    background: #36D7B7;
}

#options{
    max-width:470px;
    height: 100px;
    text-align: center;
    font-size: 20px;
}

#options input{
    font-size: 20px;
}

.option{
    float: left;
}

#result{
    display: none;
    max-width: 700px;
}

#decryptInput{
    font-size: 25px;
    width: 40%;
    margin-right:20px;
}
