{{define "viewClient"}}

<!DOCTYPE HTML>
<html>
    <head>
        {{template "head" .}}
		<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/aes.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/pbkdf2.js"></script>	
        <script language="javascript" type="text/javascript" src="/static/message.js"></script>
        <script language="javascript">
            var encryptedText = {{.Message}};
            var salt = {{.Salt}};
        </script>
    </head>
    <body>

        {{template "top" .}}

        <div id="whiteStrip" class="alignRelaxed">
            {{if .Success}}
                <h1>The Message:</h1>

                <br>
                <div id="decryptedMessage" class="well">
                    {{.Message}}
                </div>

                <br><br>

                <form onsubmit="return decrypt(password.value);">
                    <div>
                        <input id="decryptInput" type="text" name="password">
                        <button class="submitBtn" >Decrypt</button>
                    </div>
                </form>

                <br><br><br><br>
                <h1>This message has been deleted and cannot be viewed again.</h1>
            {{else}}
                <h1>Message not found.  It may have been deleted.</h1>
            {{end}}
        </div>

    </body>

</html>

{{end}}
