{{define "viewServer"}}

<!DOCTYPE HTML>
<html>
    <head>
        {{template "head" .}}
    </head>
    <body>

        {{template "top" .}}

        <div id="whiteStrip" class="alignRelaxed">
            {{if .Success}}
                <h1>The Message:</h1>
                <br>
                <div class="well">
                    {{range .Message}}{{.}}<br>{{end}}
                </div>

                <br><br>
                <h1>This message has been deleted and cannot be viewed again.</h1>
            {{else}}
                <h1>Message not found.  It may have been deleted.</h1>
            {{end}}
        </div>

    </body>

</html>

{{end}}