{{define "viewServer"}}

<!DOCTYPE HTML>
<html>
    <head>
        {{template "head" .}}

        <script>
            var message = {{.Message}};
            $(document).ready(function(){
                for(var i=0; i < message.length; i++){
                    $('#viewServerMsgWell').append(message[i] + '<br>');
                }
            });
        </script>
    </head>
    <body>

        {{template "top" .}}

        <div id="whiteStrip" class="align">
			<br>
			<div id="viewServerMsgWell" class="well">
			</div>

			<br><br>
			<h1>This message has been deleted and cannot be viewed again.</h1>
			<br>
        </div>

    </body>

</html>

{{end}}