{{define "chat"}}
<!DOCTYPE HTML>
<html>
    <head>
        {{template "head" .}}
        <script src="//crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/aes.js"></script>
        <script src="//crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/pbkdf2.js"></script>
        <script language="javascript" type="text/javascript" src="/static/js/forge.min.js"></script>
        <script language="javascript" type="text/javascript" src="/static/js/chat.js"></script>
        <script language="javascript">
            var creating = {{.Creating}};

            {{if not .Creating}}
            var encryptedNicknames = {{.EncryptedNicknames}}
            {{end}}

        </script>
    </head>
    <body>

        {{template "top" .}}

        <div id="whiteStrip" class="alignRelaxed">

            <div id ="chatInstructions">
                {{if .Creating}}
                    <h1>1. Create a private chatroom</h1><br>
                    <h1>2. Invite participants</h1><br>
                    <h1>3. Chat with temporary, encrypted messages</h1><br>
                {{else}}
                    {{template "nicknamePrompt" .}}
                {{end}}
            </div>

            <div id="chatPrompt" style="display:none" class="center"> 

                <button id="inviteBtn" onclick="invite()" class="submitBtn">Generate Invite URL</button>

                <br>
                <span id="inviteInstructions" style="font-size:15px">
                Each URL will allow 1 person to enter the chatroom.<br>
                <hr>
                </span>

                <div id="inviteWell" class="well">
                </div>
            </div>

        </div>

        {{if .Creating}}
            {{template "nicknamePrompt" .}}
        {{end}}

        <br>

        <div id="chatRoom" class="center">
            <div id="chatRoomWindow">
                <div id="membersWrapper">
                    <div id="members">
                        Members
                        <ul id="membersUl">
                        </ul>
                    </div>
                </div>

                <div id="messages">
                </div>
            </div>

            <form onsubmit="return sendMsg(message.value);" style="max-width:750px;margin-top:15px;">

                <input id="messageText" name="message" type="text">
                <button id="chatSendBtn" type="submit"> Send </button>
            </form>
        </div>

    <br><br><br><br><br><br>
        </body>

    </body>
</html>
{{end}}
