{{define "chatCreate"}}
<!DOCTYPE HTML>
<html>
    <head>
        {{template "head" .}}
        <script src="//crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/aes.js"></script>
        <script src="//crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/pbkdf2.js"></script>
        <script language="javascript" type="text/javascript" src="/static/js/chat.js"></script>
    </head>
    <body>

        {{template "top" .}}

        <div id="whiteStrip" class="alignRelaxed">
            <div id ="chatInstructions">
                <h1>1. Choose a password</h1><br>
                <h1>2. Invite participants</h1><br>
                <h1>3. Chat with temporary, encrypted messages</h1><br>
            </div>

            {{template "chatPrompt" .}}

        </div>

        <br>
        <div id="encryptBox" class="center">
            <form onsubmit="return create(nickname.value, passwordSource.value);" style="overflow: hidden;">
                Nickname: <input id="nickname" name="nickname" type="text" style="width: 200px;">
                <br><hr><br>

                <input type="radio" name="passwordSource" value="rand" onclick="customPassword.value='';customPassword.disabled=true" checked> 
                    Random 128 bit password<br>
                <input type="radio" name="passwordSource" value="custom" onclick="customPassword.disabled=false"> 
                    Custom password: <input id="customPassword" type="text" style="width: 300px;" disabled> <br>
                <br>
                <button id="createBtn" class="submitBtn" style="float: right;">Create</button>
            </form>

            <br><hr><br>
            
            <div id="result" class="center">
                <div id="finishedMessage" class="well700">
                </div>
            </div>

        </div>

        {{template "chat" .}}
        </body>

    </body>
</html>
{{end}}
