{{define "home"}}
<!DOCTYPE HTML>
<html>
    <head>
        {{template "head" .}}
        <script src="https://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/aes.js"></script>
        <script src="https://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/pbkdf2.js"></script>
        <script language="javascript" type="text/javascript" src="/static/js/message.js"></script>
    </head>
    <body>

        {{template "top" .}}

        <div id="whiteStrip" class="alignRelaxed">
            <h1>1. Write a message</h1><br>
            <h1>2. Send URL to recipient</h1><br>
            <h1>3. Message destroyed when read</h1><br>
        </div>

        <br>
        <form action="/create/server/" method="post" onsubmit="return create(msgText.value);">
            <div style="overflow:hidden">
                <textarea id="msgText" class="center" NAME="text" ROWS="9" COLS="50" placeholder="Enter message"></textarea>
            </div>
            <br>

            <div id="expiration" class="center">

                <div class="option">
                    <input id="expireCheckbox" type="checkbox">
                    Set expiration (minutes): &nbsp;
                    <input id="expireMinutes" name="expireMinutes" type="number" placeholder="None" disabled><br><br>
                </div>
                
                <div class="option">
                    <input id="passwordCheckbox" type="checkbox">
                    Password protect:&nbsp;
                    <input id="customPassword" type="text" placeholder="None" disabled>
                </div>
            </div>
            <br><br>
            <div id="btnsWrapper" class="center">
                <button  class="submitBtn center" type="submit">Create Message</button>

            </div>

            <br><br>

        </form>

        <div id="result" class="center">
            <hr>
            <br>
            Give this URL to the recipient:<br>
            <div id="finishedMessage" class="well center">
            </div>
        </div>

        <br><br>
        <br><br>
        <br><br>

    </body>
</html>
{{end}}
