{{define "message"}}

<!DOCTYPE HTML>
<html>
    <head>
        {{template "head" .}}
        <script language="javascript" type="text/javascript" src="/static/js/sjcl.js"></script>
        <script language="javascript" type="text/javascript" src="/static/js/decrypt.js"></script>
        <script language="javascript">
            var cipherText = {{.CipherText}};
        </script>
    </head>

        {{template "top" .}}

        <div id="whiteStrip" class="alignRelaxed">

            <h1>The Message:</h1>
            <br>
            <div id="decryptedMessage" class="well">

            </div>

            <br><br><br><br>
            <h1>This message has been deleted and cannot be viewed again.</h1>

        </div>
    </body>

</html>

{{end}}
